html {
    position: relative;
    min-height: 100%;
}
footer {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    overflow: hidden;
    background-color: #343a40 !important;
    padding: 60px 0px 20px;
}
h3{
    font-weight: bold !important;
}
body{
    background-color: #fff;
}
.ptext{
    text-align: justify;
}

.destaque{
    background-color: #3f789b;
    color: #fff;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 1% !important;
    padding-left: 1% !important;
}

.destaque-sub{
    padding-top: 3%    
}

#rodape{
    color: #fff;
}

.rodape_ul {
    padding-left: 0px;
}

.rodape_li {
    list-style: none;
    margin-bottom: none;
    display: list-item;
    text-align: -webkit-match-parent;
}


.rodape_a{
    color: #fff;
    text-decoration: none;    
}

.rodape_a:hover{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

@media (max-width: 978px) {
    .container{
        padding: 0 !important; 
    }
    .col{
        flex-basis: auto !important;
    }
} 








