h3{
    font-weight: bold !important;
}
body{
    background-color: #fff;
    
}
.ptext{
    text-align: justify;
}

.destaque{
    background-color: #3f789b;
    color: #fff;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

.destaque-sub{
    padding-top: 3%    
}

.Row{
    display: flex;
    flex-wrap: wrap;
}

footer{
    background-color: #3b89da;
    padding: 60px 0px 20px;
}

#rodape{
    color: #fff;
}

.rodape_ul {
    padding-left: 0px;
}

.rodape_li {
    list-style: none;
    margin-bottom: none;
    display: list-item;
    text-align: -webkit-match-parent;
}


.rodape_a{
    color: #fff;
    text-decoration: none;    
}

.rodape_a:hover{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

@media (max-width: 978px) {
    .container{
        padding: 0 !important; 
        margin: 0 !important;
    }
} 








