<!DOCTYPE html>
<html>
    <head>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}"> 
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<script src="https://kit.fontawesome.com/4d9879b1f3.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono&display=swap" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <title>Python do Zero!</title>
    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">
                <i class="fas fa-pencil-ruler"></i>
                Aprenda Python
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link rodape_a" href="{{url_for('homepage')}}">Início<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link rodape_a" href="{{url_for('Aulas')}}">Aulas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link rodape_a" href="#">Em breve</a>
                    </li>
                </ul>
            </div>
        </nav>
		<section class="destaque container-fluid" style="background-color: #ffba05;">
			<div>    
				<h1> 
                    <i class="fas fa-file-alt"></i>
					Material cobrindo os principais assuntos!
				</h1>
			</div>
			<div class="destaque-sub">
				<h3 style="text-decoration: underline #3f789b;">
					Aulas publicadas mensalmente, começe agora!
				</h3>
			</div>
		</section>

		<section class="container" style="margin-top: 3%;">
			<h1 class="my-4">Page Heading
				<small>Secondary Text</small>
			</h1>
			<div class="row">
				<div class="col-lg-6 mb-4">
					<div class="card h-100">
						<a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
						<div class="card-body">
							<h4 class="card-title">
							<a href="#">Project One</a>
							</h4>
							<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-6 mb-4">
					<div class="card h-100">
						<a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
						<div class="card-body">
							<h4 class="card-title">
							<a href="#">Project Two</a>
							</h4>
							<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit aliquam aperiam nulla perferendis dolor nobis numquam, rem expedita, aliquid optio, alias illum eaque. Non magni, voluptates quae, necessitatibus unde temporibus.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-6 mb-4">
					<div class="card h-100">
						<a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
						<div class="card-body">
							<h4 class="card-title">
							<a href="#">Project Three</a>
							</h4>
							<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-6 mb-4">
					<div class="card h-100">
					<a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
					<div class="card-body">
						<h4 class="card-title">
						<a href="#">Project Four</a>
						</h4>
						<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit aliquam aperiam nulla perferendis dolor nobis numquam, rem expedita, aliquid optio, alias illum eaque. Non magni, voluptates quae, necessitatibus unde temporibus.</p>
					</div>
				</div>
			</div>
		</section>
		<footer>
			<div id="rodape" class="container">
				<div class="Row">
					<div class="col-12 col-md-6 col-lg-4">
						<h3 class="h3"> Propósito </h3>
						<p class="ptext"> 
							Plataforma de aprendizado de Python, do zero, cobrindo os conteúdos mais básicos para o desenvolvimento de aplicações simples. 
						</p>
					</div>
					<div class="col-12 col-md-4 offset-md-2 col-lg-4 offset-lg-4">
						<h3 class="h3"> Links </h3>
						<ul class="rodape_ul">
							<li class="rodape_li">
								<a class="rodape_a" href="https://github.com/PzanettiD/Aprenda-Python">
									<i class="fab fa-github"></i>
									GitHub Repo
								</a>
							</li>
							<li class="rodape_li">
								<a class="rodape_a" href="https://github.com/PzanettiD">
									<i class="fas fa-user-shield"></i>
									Criador
								</a>
							</li>
							<li class="rodape_li">
								<a class="rodape_a" href="https://python.org.br">
									<i class="fab fa-python"></i>
									Site e Documentação Oficial
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</footer>
    </body>	
</html>
