<!DOCTYPE html>
<html>
    <head>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}"> 
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<script src="https://kit.fontawesome.com/4d9879b1f3.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono&display=swap" rel="stylesheet">
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<title>Python do Zero!</title>
    </head>
    <body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="#">
				<i class="fas fa-pencil-ruler"></i>
				Aprenda Python
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link rodape_a" href="{{url_for('homepage')}}">Início<span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link rodape_a" href="{{url_for('Aulas')}}">Aulas</a>
					</li>
					<li class="nav-item">
						<a class="nav-link rodape_a" href="#">Em breve</a>
					</li>
				</ul>
			</div>
		</nav>
		<div class="container">
			<section class="destaque container-fluid", style="border-bottom: 5px solid #ffd343">
				<div>    
					<h1> 
						<i class="fas fa-graduation-cap"></i>
						Tudo o que você precisa pra começar a programar agora!
					</h1>
				</div>
				<div class="destaque-sub">
					<h3 style="text-decoration: underline #ffd343;">
						Um guia simples e fácil para começar do zero!
					</h3>
				</div>
			</section>
			<section class="container-fluid" style="padding: 5%; padding-left: 11%; padding-right: 11%; background-color: #f5f5f5;">
				<h3><i class="fas fa-dollar-sign"></i> Conteúdo <ins>100% gratuito</ins> e em <ins>português!</ins></h3>
				<blockquote class="blockquote">
					<p class="mb-0 ptext">Isso mesmo, aproveite das aulas de Python para desenvolver suas habilidades de programação sem pagar um tostão!</p>
				</blockquote>
			</section>
			<section class="container-fluid" style="padding: 5%; padding-left: 11%; padding-right: 11%;">
				<div class="row">
					<div class="col">
						<h3><i class="far fa-thumbs-up"></i> Por quê aprender a programar?</h3>
					</div>
					<div class="col" style="border-left: 5px solid #3f789b;">
						<blockquote class="blockquote">
							<p class="mb-0 ptext">Programação pode ser uma ferramenta útil para a resolução de problemas do cotidiano, bem como um método de aprimoramento do seu poder de raciocínio lógico. Não precisa confiar em mim, se liga no que os maiores líderes dizem <a href="https://code.org/quotes">sobre o assunto.</a></p>
						</blockquote>
					</div>
				</div>
			</section>
			<section class="container-fluid" style="padding: 5%; padding-left: 11%; padding-right: 11%; background-color: #f5f5f5;">
				<h3><i class="fas fa-terminal"></i> Onde começar?</ins></h3>
				<blockquote class="blockquote">
					<p class="mb-0 ptext">Clique <a href="{{url_for('Aulas')}}">aqui</a> para acessar todo conteúdo disponível, e <a href="#">aqui</a> para ir direto para à primeira aula já disponível. O conteúdo está em constante desenvolvimento e aprimoramento: são adicionadas novas aulas mensalmente</p>
				</blockquote>
			</section>
		</div>
		<footer style="margin-top: 5% !important;">
			<section id="rodape" class="container">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12 col-md-6 col-lg-4">
							<h3 class="h3"> Propósito </h3>
							<p class="ptext"> 
								Plataforma de aprendizado de Python, do zero, cobrindo os conteúdos mais básicos para o desenvolvimento de aplicações simples. 
							</p>
						</div>
						<div class="col-12 col-md-4 offset-md-2 col-lg-4 offset-lg-4">
							<h3 class="h3"> Links </h3>
							<ul class="rodape_ul">
								<li class="rodape_li">
									<a class="rodape_a" href="https://github.com/PzanettiD/Aprenda-Python">
										<i class="fab fa-github"></i>
										GitHub Repo
									</a>
								</li>
								<li class="rodape_li">
									<a class="rodape_a" href="https://github.com/PzanettiD">
										<i class="fas fa-user-shield"></i>
										Criador
									</a>
								</li>
								<li class="rodape_li">
									<a class="rodape_a" href="https://python.org.br">
										<i class="fab fa-python"></i>
										Site e Documentação Oficial
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</section>
		</footer>
    </body>	
</html>
