<!DOCTYPE html>
<html>
    <head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}"> 
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<title>Python do Zero!</title>
    </head>
    <body>
	<div id="title">    
	    <h1> Aprenda Python </h1>
	</div>
	<footer>
	    <div class="container">
		<div class="Row">
		    <div class="col-12 col-md-6 col-lg-4">
			<h3> Propósito </h3>
			<p class="ptext"> 
				   Plataforma de aprendizado de Python, do zero, cobrindo os conteúdos mais básicos para o desenvolvimento de aplicações simples. 
			</p>
		    </div>
		    <div class="col-12 col-md-4 offset-md-2 col-lg-4 offset-lg-4">
			<h3> Links </h3>
			<a href="https://github.com/PzanettiD/Aprenda-Python" class="btn btn-outline-warning">GitRepo</a>
			<a class="btn btn-outline-info" href="https://github.com/PzanettiD" role="button">Criador</a>
			<a class="btn btn-outline-info" href="https://python.org.br/" role="button">Python Org</a>
		    </div>
		</div>
	    </div>
	</footer>
    </body>	
</html>
