<!DOCTYPE html>
<html>
    <head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}"> 
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://kit.fontawesome.com/4d9879b1f3.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono&display=swap" rel="stylesheet">
	<title>Python do Zero!</title>
    </head>
    <body>
	<section class="destaque container-fluid">
	    <div>    
		<h1> 
		    <i class="fas fa-pencil-ruler"></i>
		    Aprenda Python 
		</h1>
	    </div>
	    <div class="destaque-sub">
		<h3>
		    Um guia simples e fácil para começar a programar do zero!
		</h3>
	    </div>
	</section>
	<section class="container-fluid">
	    <!-- 
	    <div class="destaque-sub">
		<h3 style="font-family: 'Ubuntu Mono', monospace;">
		    <i class="fas fa-terminal"></i>
		    print("Olá, mundo!")
		</h3>
	    </div>
	    -->
	</section>
	<footer>
	    <div id="rodape" class="container">
		<div class="Row">
		    <div class="col-12 col-md-6 col-lg-4">
			<h3 class="h3"> Propósito </h3>
			<p class="ptext"> 
			    Plataforma de aprendizado de Python, do zero, cobrindo os conteúdos mais básicos para o desenvolvimento de aplicações simples. 
			</p>
		    </div>
		    <div class="col-12 col-md-4 offset-md-2 col-lg-4 offset-lg-4">
			<h3 class="h3"> Links </h3>
			<ul class="rodape_ul">
			    <li class="rodape_li">
				<a class="rodape_a" href="https://github.com/PzanettiD/Aprenda-Python">
				    <i class="fab fa-github"></i>
				    GitHub Repo
				</a>
			    </li>
			    <li class="rodape_li">
				<a class="rodape_a" href="https://github.com/PzanettiD">
				    <i class="fas fa-user-shield"></i>
				    Criador
				</a>
			    </li>
			    <li class="rodape_li">
				    <a class="rodape_a" href="https://python.org.br">
				    <i class="fab fa-python"></i>
				    Site e Documentação Oficial
				</a>
			    </li>
			</ul>
		    </div>
		</div>
	    </div>
	</footer>
    </body>	
</html>
